.code {
	display: inline;
}

.upload-cepgp {
	display: block;
	margin-bottom: 20px;
}

.upload-pass-container {
	margin-top: 15px;
}

.upload-response {
	margin-top: 15px;
	display: block;
}

.guild-roster-container {
	width: 280px;
}
.guild-roster-input {
	width: 100%;
}