<h2>Traffic</h2>

<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
</mat-form-field>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Player Column -->
  <ng-container matColumnDef="player">
    <th mat-header-cell *matHeaderCellDef> Player </th>
    <td mat-cell *matCellDef="let element"> {{element.player}} </td>
  </ng-container>

  <!-- Issuer Column -->
  <ng-container matColumnDef="issuer">
    <th mat-header-cell *matHeaderCellDef> Issuer </th>
    <td mat-cell *matCellDef="let element"> {{element.issuer}} </td>
  </ng-container>

  <!-- Action Column -->
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> Action </th>
    <td mat-cell *matCellDef="let element"> 
      <a href={{element.itemUrl}} class="weapon-link">{{element.itemName}}</a>
      <span>{{element.action}}</span>
    </td>
  </ng-container>

  <!-- epb Column -->
  <ng-container matColumnDef="epb">
    <th mat-header-cell *matHeaderCellDef> EP Before </th>
    <td mat-cell *matCellDef="let element"> {{element.epb}} </td>
  </ng-container>

  <!-- epa Column -->
  <ng-container matColumnDef="epa">
    <th mat-header-cell *matHeaderCellDef> EP After </th>
    <td mat-cell *matCellDef="let element"> {{element.epa}} </td>
  </ng-container>

  <!-- gpb Column -->
  <ng-container matColumnDef="gpb">
    <th mat-header-cell *matHeaderCellDef> GP Before </th>
    <td mat-cell *matCellDef="let element"> {{element.gpb}} </td>
  </ng-container>

  <!-- gpa Column -->
  <ng-container matColumnDef="gpa">
    <th mat-header-cell *matHeaderCellDef> GP After </th>
    <td mat-cell *matCellDef="let element"> {{element.gpa}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>