<h2>Players</h2>

<table mat-table [dataSource]="dataSource" matSort matSortActive="prio" matSortDirection="desc" class="mat-elevation-z8">

  <ng-container matColumnDef="rank">
    <th mat-header-cell *matHeaderCellDef > Rank </th>
    <td mat-cell *matCellDef="let element; let i = index">{{i+1}}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="player">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.player}} </td>
  </ng-container>

  <!-- Class Column -->
<!--   <ng-container matColumnDef="class">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Class </th>
    <td mat-cell *matCellDef="let element"> {{element.class}} </td>
  </ng-container> -->

  <!-- Rank Column -->
<!--   <ng-container matColumnDef="rank">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Rank </th>
    <td mat-cell *matCellDef="let element"> {{element.rank}} </td>
  </ng-container> -->

  <!-- Symbol Column -->
  <ng-container matColumnDef="epa">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> EP </th>
    <td mat-cell *matCellDef="let element"> {{element.epa}} </td>
  </ng-container>

  <ng-container matColumnDef="gpa">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> GP </th>
    <td mat-cell *matCellDef="let element"> {{element.gpa}} </td>
  </ng-container>

    <ng-container matColumnDef="prio">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> PR </th>
    <td mat-cell *matCellDef="let element"> {{element.prio | number:'1.0-2'}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>