.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
header {
	background: #7b1fa2;
}
.main-body {
    background-color: #303030;
    color: white;
    padding-top: 20px;
}
.container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.mat-toolbar.mat-primary {
	padding: 0px;
}


.md-form textarea[type=text]:focus:not([readonly]) + label {
color: rgb(105, 240, 174); }
.md-form textarea[type=text]:focus:not([readonly]) {
box-shadow: 0 1px 0 0 rgb(105, 240, 174);
border-bottom: 1px solid rgb(105, 240, 174); }
